/*
В этом файле должны быть стили для БЭМ-блока .bem-header, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

.bem-header {
    height: 56px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: margin 0.4s ease-in-out;
    
    /* bem-header: Элементы */
    &__search-icon {
        display: none;
    }
    &__new-user {
        img {
            display: none;
        }
        span:before {
            content: 'Добавить контакт';
            white-space: nowrap;
        }
    }
    &__recharge {
        white-space: nowrap;
    }
    &__search-text {
        width: calc(100% - 32px);
    }
    &__user-profile {
        &__img {
            margin: 0 8px 0 16px;
            cursor: pointer;
            box-sizing: content-box;
            &:hover {
                border: 2px solid #008DFF;
                margin-left: 14px;
                margin-right: 6px;
            }
        }
    }
    &__fixed {
        position: fixed;
        top: 0px;
        left: 0;
        background: $white;
        z-index: 2;
        box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.18);
        .bem-header__new-user {
            img {
                display: block;
                float: left;
                margin-right: 8px;
            }
            span:before {
                content: 'Добавить';
            }       
        }
        .bem-header__bem-logo {
            padding-right: 65px;
            display: flex;
            .bem-logo__project img{
                height: 20px;
                width: auto;
            }
            .bem-logo__delim {
                margin: 0 4px;
            }
        }
        .bem-header__recharge {
            display: none;    
        }
    }

    /* bem-header: Миксины */
    &__bem-search {
        flex-grow: 1;
        .bem-search {
            width: auto;
        }
        .bem-search__form {
            display: block;
            background: #F7F8FA;
            border: none;
            height: 36px;
            width: 75%;
        }
        .bem-search__input {
            background: #F7F8FA;
            width: calc(100% - 32px);
        }
        .bem-select {
            display: none;
        }
        .bem-search__bem-button {
            display: none;
        }
    }
    &__bem-logo {
        display: none;
    }
    
    & > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $screen-xl;
        height: 100%;
        padding: 0 32px;
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
    }
}


/* bem-header: @media условия */
@media screen and (max-width: 1200px) {
    .bem-header > div:first-child {
        width: 100%;
    }    
}
@media screen and (max-width: 768px) {
    .bem-header > div:first-child{
        padding: 0 16px;
    }   
    .bem-header__balance {
        order: 2;
    } 
    .bem-header__user-profile {
        &__img {
                margin-left: 0;
            &:hover {
                border: none;
                margin-left: 0;
                margin-right: 8px;
            }
        }
    }
    .bem-header__recharge {
        order: 3;
        text-align: center;
        color: #818C9C;
        border-bottom: 1px dashed #818C9C;
        margin: 0 auto;
        display: none;
    }
    .bem-header__bem-logo {
        order: 3;
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        .bem-logo__brand {
            display: none;
        }
        .bem-logo__delim {
            display: none;
        }

    }
    .bem-header__bem-search {
        order: 4;
        flex-grow: inherit;
        flex-grow: 1;
    }
    .bem-header__new-user {
        order: 5;
        span:before {
            content: '';
        }       
        img {
            margin: 0;
            display: block;
        }
        &.bem-circle-block {
            background: #008DFF;
            margin-left: 8px;
        }
    }
    .bem-header__fixed {
        .bem-header__bem-search {
            flex-grow: inherit;
        }
        .bem-header__search-icon {
            display: block;
        }
        .bem-header__bem-search .bem-search__form {
            display: none;
        }
        .bem-header__new-user {
            img {
                margin: 0;
            }
            span:before {
                content: '';
            }
        }
        .bem-header__bem-logo {
            padding: 0;
            img {
                margin: 0;
            }
        }
    }
    
}