/*  В этом файле должны быть стили для БЭМ-блока .bem-select, его элементов,
     модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
 */
.bem-select {
    display: inline-block;
    vertical-align: top; 
    width: auto;
    position: relative;
    border: 1px solid #E3E5E8;
    box-sizing: border-box;
    border-radius: 5px;
    height: $el;
    font-size: $font-size;
    padding: 0px 32px 0px 8px;
    background: #fff url(../img/down.svg) no-repeat calc(100% - 9px) center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    outline: none;
    user-select: none;
    
    &:active, &:focus, option:active, option:focus {
        outline: none;
        user-select: none;
    }    
    /* bem-user-select: Элементы */
    option {
         line-height: 22px;
         background: #fff;
         border: none;
         outline: none;
         user-select: none;
    }
    &_big {
        height: $el-big;
        font-size: 16px;
    }
    &_compact {
        height: $el-comp;
        font-size: $font-size;
    }
    &_small {
        height: $el-sm;
        font-size: 12px;
    }
}
 

