/*
В этом файле должны быть стили для БЭМ-блока .bem-logo, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

.bem-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    /* bem-logo: Элементы */
    &__delim {
        margin: 0 8px;
    }
}

/* bem-logo: @media условия */
@media screen and (max-width: 768px) {
    .bem-logo {
        &__delim {
            margin: 0 4px;
        }
    }
}