extends index.pug
block content
    .section-404
        .left-column
            p.errorSub.white-text.font-bold= error
            p.errorTitle.white-text.font-bold= errorTitle
            p.errorPage.white-text.font-bold= pageNotFound
            p.errorPageMin.white-text= otherPage                