
@media (min-width: 1920px) {
    #page {
        max-width: 1920px;
        margin: 0 auto;
    }
    .top-section {
        min-height: 970px;
        background-position: 0 0;
        background-size: contain;
    }
    .adv-sections {
        min-height: inherit;
    }
}
@media (max-width: 1920px) {
    #page {
        max-width: 100vw;
    }
    .top-section {
        min-height: 50vw;
    }
}
@media (max-width: 1500px) {
    html body {
        width: 100vw;
        min-width: auto;
        font-size: 16px;
        overflow-x: hidden;
    }
    .page-content {
        overflow-x: hidden;    
    }
    .container, .sppb-container-inner {
        max-width: 90vw;
    }
    body.view-page #main > .container {
        width: 100vw;
        min-width: inherit;
    }
    .sp-page-builder .page-content #top-section {
        background-position: 0 0;
        background-size: auto 100%;
        background-color: #f5f5f5;
    }
    
    .between-section > div {
        max-width: 80vw;
    }
    .whatis-section .text-block h2 {
        font-size: 5vw;
    }
    .top-section > div {
        max-width: 90vw;
    }
    .container, .sppb-container-inner {
        max-width: 90vw;
    }
    .where-section.whatis-section .text-block h2 {
        font-size: 4vw;
    }
    .easy-section .order-btn {
        max-width: 19vw;
    }
    .top-menu ul a {
        font-size: 2vw;
        padding: 0 2vw;
    }
    .adv-sections {
        padding: 8vw 0 5vw;
        min-height: inherit;
    }
    .sp-page-builder .page-content #sexuality-section {
        background-position: 100% 100%;
    }
    .adv-sections h2 {
        font-size: 4.3vw;
        font-weight: 600;
        margin-bottom: 2vw;
    }
    .adv-sections .adv-tabs {
        max-width: 80%;
    }
    .adv-sections .adv-tabs .sppb-tab-pane {
        max-width: 28vw;
    }
    .adv-sections .adv-tabs .sppb-tab-pane p {
        font-size: 1.5vw;
    }
    .adv-sections .order-btn {
        font-size: 1.3vw;
        padding: 1.6vw 3.5vw;
        margin-top: 4vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul {
        max-width: 16vw;
        margin-right: 7vw;
        padding-right: 3vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul li {
        margin-bottom: 4vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul li a {
        font-size: 1.6vw;
        font-weight: 600;
    }
    .adv-sections .adv-tabs .sppb-tab-pane.active {
        padding-top: 3vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul li.active {
        margin-bottom: 3vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul li.active a .price {
        border-top-width: 2px;
        padding-top: 1vw;
        margin-top: 1vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul li.active::after { 
        right: -6.7vw;
        border-width: 1vw 2vw;
        bottom: 3vw;
    }
    .top-section {
        height: 50.5vw;
        min-height: inherit;
        padding-top: 2.2vw;
        padding-bottom: 3vw;
        background-size: contain;
    }
    .top-section > div {
        padding: 0;
    }
    .container, .sppb-container-inner {
        padding: 0;
    }
    .top-menu ul a {
        font-size: 1.6vw;
        padding: 0 1.3vw;
        font-weight: 400;
    }
    .top-icons a {
        width: 2.6vw;
        height: 2.6vw;
        font-size: 1.6vw;
        margin: 0 0.6vw;
    }
    canvas, img, video {
        width: 13vw;
    }
    .top-section .top-logo {
        margin-left: 9vw;
    }
    .top-section .right-column .text-block {
        font-size: 2.4vw;
        font-weight: 600;
        margin-bottom: 4vw;
        max-width: 40vw;
    }
    .top-section .right-column h1 {
        font-size: 3.2vw;
        margin-top: 10vw;
        margin-bottom: 2vw;
    }
    .top-section .right-column h1 span {
        font-size: 4.6vw;
        font-weight: 600;
    }
    .btn {
        font-size: 1.4vw;
    }
    .top-section .bottom-links ul {
        max-width: 34vw;
    }
    .top-section .bottom-links .btn a {
        width: 16vw;
        height: 5vw;
        padding: 0.8vw 1vw;
    }
    .between-section {
        font-size: 1.8vw;
        padding-top: 5vw;
        padding-bottom: 4vw;
    }
    .adv-sections .adv-tabs .sppb-tab-pane p::first-letter {
        font-size: 5vw;
    }
    .whatis-section .text-block h2 {
        font-size: 4.4vw;
    }
    .whatis-section {
        padding-top: 7vw;
        padding-bottom: 6vw;
    }
    .whatis-section .right-tabs h2 {
        font-size: 2vw;
        max-width: 28vw;
        margin-bottom: 5vw;
    }
    .whatis-section .right-tabs h2 span {
        font-size: 1.5vw;
    }
    .whatis-section .right-tabs .tabs-tab .sppb-tab-tabs-content {
        font-size: 1.8vw;
    }
    .whatis-section .right-tabs .tabs-tab ul li a {
        width: 4vw;
        height: 4vw;
        font-size: 3.5vw;
        margin-bottom: 2vw;
    }
    .whatis-section .right-tabs {
        max-width: 47vw;
    }
    .scroll-forward {
        width: 18vw;
        height: 5vw;
        font-size: 1.6vw;
    }
    .whatis-section #column-id-1569325850866 {
        background-size: 70%;
        background-position: calc(-172px + 2vw) calc(105px + 5vw);
    }
    .whatis-section .right-tabs .tabs-tab ul::after {
        height: calc(100% + 6vw);
    }
    .useful-section h2 {
        font-size: 4.5vw;
        margin-bottom: 2.5vw;
    }
    .useful-section {
        padding-top: 9vw;
        padding-bottom: 8vw;
    }
    .useful-section .sppb-column-addons {
        width: 100%;
        padding-top: 14vw;
        min-height: 23vw;
    }
    .useful-section .useful-box img {
        width: 21vw;
    }
    .useful-section .sppb-column-addons > div {
        min-width: inherit;
        position: absolute;
    }
    .useful-section h3 {
        font-size: 2.2vw;
        font-weight: 400;
    }
    .useful-section .sppb-column-addons > div:nth-child(2) {
        left: 17.1vw;
    }
    .useful-section .sppb-column-addons > div:nth-child(3) {
        left: calc(50% - 14.7vw);
    }
    .useful-section .sppb-column-addons > div:nth-child(4) {
        right: 17.4vw;
    }
    .useful-section .sppb-column-addons > div:nth-child(5) {
        right: 0;
    }
    .whatis-section .text-block .sppb-addon-content em {
        font-size: 2vw;
    }
    .where-section.whatis-section .text-block h2 {
        font-size: 4vw;
        margin-top: 5vw;
        font-weight: 600;
    }
    .dir-table table td {
        padding: 2vw 1vw;
    }
    .dir-table table {
        font-size: 1.5vw;
    }
    .dir-table table img {
        width: 7vw;
    }
    .dir-table table::before, .dir-table table::after {
        height: 85%;
    }
    .where-section.whatis-section .sppb-column-addons {
        align-items: flex-start;
    }
    .order-contact h2 {
        font-size: 4vw;
        margin-bottom: 5vw;
    }
    .order-contact {
        padding-top: 9vw;
        padding-bottom: 5vw;
    }
    .order-contact .text-block {
        font-size: 2vw;
    }
    .order-contact .text-block p {
        margin-bottom: 3vw;
    }
    .order-feedback {
        margin-top: 7vw;
    }
    .order-feedback .column {
        max-width: max-content;
    }
    .order-feedback .ui.form input[type="text"], .order-feedback .ui.form .field.error input[type="text"] {
        font-size: 1.5vw;
        border-bottom-width: 1px;
    }
    .order-feedback .ui.form .field {
        margin-bottom: 3vw;
    }
    .order-feedback .ui.green.button {
        font-size: 1.5vw;
        width: 20vw;
        height: 5vw;
    }
    .semanticui-body small.custom-error {
        font-size: 1.5vw;
    }
    .land-acc h2 {
        font-size: 4vw;
        margin-bottom: 3vw;
    }
    .land-acc {
        font-size: 1.4vw;
        padding-top: 10vw;
        padding-bottom: 8vw;
    }
    .land-acc .sppb-panel-title {
        font-size: 1.8vw;
    }
    .land-acc .sppb-panel-heading {
        padding-bottom: 4vw;
        padding: 3vw 3vw 3vw 5vw;
    }
    .land-acc .sppb-panel-body {
        padding: 0 6vw 5vw 5vw;
    }
    .easy-section {
        padding-top: 13vw;
        padding-bottom: 10vw;
    }
    .easy-section.whatis-section .text-block .sppb-addon-content span {
        font-size: 13vw;
        line-height: 12vw;
        margin-right: 1.5vw;
    }
    .easy-section.whatis-section .text-block .sppb-addon-content {
        font-size: 3vw;
        max-width: 30vw;
    }
    .easy-section .sppb-row > div:last-child {
        max-width: 47vw;
        padding-top: 4vw;
    }
    .easy-section .right-column img {
        width: 6.5vw;
    }
    .easy-section .right-column h4 {
        font-size: 1.3vw;
    }
    .easy-section .right-column .sppb-addon-text {
        font-size: 1vw;
    }
    .easy-section .right-column .sppb-column-addons > div {
        max-width: 15vw;
    }
    .easy-section .right-column .sppb-column-addons > div:nth-child(1)::after, .easy-section .right-column .sppb-column-addons > div:nth-child(2)::after, .easy-section .right-column .sppb-column-addons > div:nth-child(4)::after {
        content: '';
        background: url("../images/strelka.png") no-repeat right top;
        height: 15px;
        width: 6vw;
        right: -6vw;
        top: 4vw;
        background-size: 90%;
    }
    .easy-section .right-column .sppb-column-addons > div:nth-child(3)::after {
        content: '';
        background: url("../images/grand-arrow.png") no-repeat right top;
        width: 40vw;
        height: 6.2vw;
        bottom: 10px;
        background-size: contain;
    }
    .easy-section .right-column .sppb-column-addons > div:last-child {
        bottom: 6vw;
    }
    .easy-section .order-btn {
        font-size: 1.5vw;
        max-width: 15vw;
        padding: 0.8vw 0;
    }
    .bfooter-section {
        padding-top: 9vw;
        padding-bottom: 5vw;
    }
    .bfooter-section h2 {
        font-size: 3vw;
        margin-bottom: 2.5vw;
    }
    .bfooter-section h2 span {
        font-size: 4.8vw;
    }
    .bfooter-section .text-block h3 {
        font-size: 2.5vw;
        margin-bottom: 1vw;
    }
    .bfooter-section .text-block {
        font-size: 1.5vw;
    }
    .bfooter-section .text-block p{
        margin: 2vw 0;
        padding-right: 10px;
    }
    .bfooter-section .trans-register h2 {
        font-size: 2vw;
        font-weight: 500;
    }
    .trans-register h2 {
        margin-bottom: 4vw;
    }
    .trans-register .ui.form input[type="text"], .trans-register .ui.form input[type="password"] {
        font-size: 1.5vw;
        border-bottom-width: 1px;
    }
    .trans-register .ui.form button[type="submit"] {
        font-size: 1.5vw;
        max-width: 22vw;
        padding: 1.5vw 0;
    }
    .trans-register .ui.form .field {
        margin-bottom: 3vw;
    }
    .trans-register .info {
        font-size: 1.2vw;
        margin-top: 4vw;
    }
    .footer-menu li a {
        margin-bottom: 1.8vw;
        font-weight: 400;
    }
    .footer-section {
        padding-top: 2.5vw;
        padding-bottom: 1.5vw;
    }
    .footer-section, .footer-section .payment-icons h3, .footer-section h3 {
        font-size: 1.2vw;
    }
    .footer-section .payment-icons img {
        width: 5vw;
        margin-right: 1vw;
    }
    .footer-section .social-icons img {
        width: 2.5vw;
        margin-right: 1vw;
    }
    .footer-section img {
        width: 15vw;
    }
    .copy-section {
        font-size: 0.9vw;
        font-weight: 400;
        padding: 1.1vw 0;
    }
    .copy-section img {
        width: 6vw;
    }
    .whatis-section .text-block .sppb-addon-content {
        font-size: 1vw;
        max-width: 18vw;
    }
    .adv-sections {
        padding: 5vw;
    }

}

@media (max-width: 1280px) {
    .whatis-section #column-id-1569325850866 {
        
        background-position: calc(-172px + 5vw) calc(105px + 4vw);
    }
    .useful-section .sppb-column-addons {
        padding-top: 15vw;
    }
}

@media (max-width: 1200px) {
    .adv-sections .adv-tabs .sppb-tab ul li.active::after { 
        right: -6.6vw;
    }
}

@media (max-width: 1024px) {
    .whatis-section #column-id-1569325850866 {
        background-position: -8vw 13vw;
    }
    .whatis-section .right-tabs {
        max-width: 57vw;
    }
    .easy-section .right-column .sppb-column-addons > div:nth-child(3)::after {
        width: 40vw;
        bottom: -10px;
        right: 3vw;
    }
    .easy-section .right-column .sppb-column-addons > div:nth-child(3) {
        min-width: inherit;
    }
}
@media (max-width: 870px){
    .whatis-section #column-id-1569325850866 {
        background-size: 67%;
    }
    .adv-sections .adv-tabs .sppb-tab ul::after {
        width: 2px;
    }
    .adv-sections .adv-tabs .sppb-tab ul li.active::after { 
        right: -6.7vw;
    }
    .dir-table table::before, .dir-table table::after { 
        width: 2px;
    }
    .dir-table table tr:last-child td {
        border-top-width: 2px;
    }
    .top-section {
        padding-top: 2vw;
    }
}
@media (max-width: 768px) {
    .whatis-section #column-id-1569325850866 {
        background-size: 65%;
    }
    .whatis-section .right-tabs {
        max-width: 63vw;
    }
    .useful-section .sppb-column-addons {
        padding-top: 16vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul {
        margin-right: 6vw;
    }
    .easy-section .right-column img {
        width: 6vw;
    }
    .easy-section .right-column .sppb-column-addons > div {
        max-width: 10vw;
    }
    .easy-section .right-column .sppb-column-addons > div:nth-child(3)::after {
        bottom: -3px;
    }
    .easy-section .right-column .sppb-column-addons {
        grid-row-gap: 5vw;
    }
    .bfooter-section .text-block {
        max-width: 90vw;
    }
}
@media ( max-width: 670px) {
    .whatis-section #column-id-1569325850866 {
        background-position: -5vw 13vw;
    }
    .whatis-section .right-tabs {
        max-width: 67vw;
    }
    .whatis-section .right-tabs .tabs-tab ul {
        padding-right: 3vw;
        margin-right: 3vw;
    }
    .whatis-section .right-tabs .tabs-tab ul::after {
        width: 1px;
    }
    .whatis-section .right-tabs .tabs-tab ul li a {
        margin-bottom: 1vw;
    }
    .between-section {
        padding-bottom: 2vw;
    }
    .adv-sections .adv-tabs .sppb-tab ul li.active a .price {
        border-top-width: 1px;
    }
}
@media (max-width: 570px) {
    .useful-section .sppb-column-addons {
        padding-top: 17vw;
    }
    .easy-section .right-column .sppb-column-addons > div:nth-child(3)::after {
        bottom: 3px;
    }
}
@media ( max-width: 420px) {
    .whatis-section #column-id-1569325850866 {
        background-size: 60%;
        background-position: -1vw 15vw;
    }
    .useful-section .sppb-column-addons {
        padding-top: 19vw;
    }
    .between-section {
        padding-bottom: 1vw;
    }
    .top-section {
        padding-top: 1.5vw;
    }
}



