/*
В этом файле должны быть стили для БЭМ-блока .bem-table, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

.bem-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    
    /* bem-table: Элементы */
    &__param-label {
        text-align: left !important;
        font-size: 13px;
    }
    &__field-value {
        width: 17%;
        text-align: center;
        font-size: 14px;
        line-height: 33px;
    }
    td, th {
        padding: 6px;
        border-left: 1px solid #B7CBDC;
        border-right: 1px solid #B7CBDC;
        vertical-align: middle;
    }
    &__names-tr th {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 100%;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    tbody tr:nth-child(2n) td {
        background-color: #F3F3F3;
    }
    tr td:last-child, tr th:last-child {
        border-right: 0;
    }
    tr td:first-child, tr th:first-child {
        border-left: 0;
    }
}

/* @media-условия */
@media screen and (max-width: 768px) {
}
