/*
В этом файле должны быть стили для БЭМ-блока .bem-landing, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

.bem-landing {
    flex-direction: row;
    /* bem-landing: Элементы */
    &__header {
        display: flex;
        justify-content: space-between;
        .bem-header__bem-logo {
            display: block; 
        }
    }
    &__title {
        font-size: 40px;
        line-height: 40px;
        margin: 40px 0 0;
        font-weight: 800;
    }
    &__sidebar_left {
        width: auto;
        flex-grow: 1;
        max-width: 820px;
        background: url('../img/Rectangle 303.png') no-repeat right top;
        display: flex;
        flex-direction: column;
        padding: 47px 60px 60px;
        box-sizing: border-box;
        .bem-landing__title {
            font-size: 56px;
            line-height: 50px;
            color: $white;
            margin: 40px 0;
            font-weight: 800;
        }
        .bem-landing__text {
            font-size: 20px;
            line-height: 28px;
            color: $white;
        }
    }
    &__sidebar_right {
        position: relative;
        padding: 32px 40px 60px 80px;
        width: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .bem-auth__header {
            justify-content: flex-end;
            .bem-header__bem-logo {
                display: none; 
            }
        }
        .bem-button {
            width: min-content;
            margin: 0;
        }
        .bem-auth .bem-form {
            margin-top: 32px;
        }
    }
}

/*  bem-landing: @media-условия */
@media screen and (max-width: 1200px) {
    .bem-landing__sidebar_right {
        padding-left: 40px;
        padding-bottom: 40px;
    }
    .bem-landing__sidebar_left {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 1024px) {
    .bem-landing .bem-auth__content {
        width: 400px;
    }
    .bem-landing__sidebar_left {
        padding-top: 32px;
    }
    .bem-landing__sidebar_left .bem-landing__title {
        font-size: 48px;
        line-height: 42px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .bem-landing__sidebar_right .bem-landing__title {
        font-size: 36px;
    }
    .bem-landing__sidebar_left .bem-landing__text {
        font-size: 18px;
        line-height: 24px;
    }
    .bem-landing.bem-page .bem-auth__social-icon svg{
        width: 40px;
        height: 40px;
    }
    .bem-landing .bem-auth__social {
        grid-template-columns: repeat(auto-fill, 40px);
    }
    .bem-landing .bem-form {
        margin-top: 24px;
    }
    .bem-landing .bem-form .bem-page_margin_top {
        margin-top: 24px;
    }  
}
@media screen and (max-width: 960px) {
    .bem-landing .bem-auth__content {
        width: 360px;
    }
    .bem-landing__sidebar_right {
        padding-left: 30px;
        padding-right: 30px;
    }
    .bem-landing__sidebar_left {
        padding-left: 30px;
        padding-right: 30px;
    }
    .bem-landing .bem-landing__login .bem-page_font-size_mid {
        display: none;
    }
    .bem-landing .bem-landing__login .bem-link.bem-page_font-size_mid {
        display: block;
    }
}
@media screen and (max-width: 820px) {
    .bem-landing__sidebar_left .bem-landing__text {
        font-size: 16px;
        line-height: 20px;
    }
    
}

@media screen and (max-width: 768px) {
    .bem-page.bem-landing {
        justify-content: center;
    }
    .bem-landing__sidebar_left {
        display: none;
    }
    .bem-landing .bem-auth__content {
        width: 420px;
        text-align: center;
        margin: 0 auto;
    }
    .bem-landing__sidebar_right {
        padding: 15px 20px;
        width: 100%;
    }
    .bem-landing__sidebar_right .bem-landing__title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 4px;
    }
    .bem-landing__sidebar_right .bem-page__subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .bem-landing__sidebar_right .bem-auth__header .bem-header__bem-logo {
        display: block;
        order: 0;
    }
    .bem-landing__sidebar_right .bem-auth__header .bem-header__bem-logo img{
        height: 20px;
        width: auto;
        margin-right: 20px;
    }
    .bem-landing__sidebar_right .bem-auth__header {
        justify-content: space-between;
    }
    .bem-landing .bem-auth__social {
        grid-gap: 8px;
        width: 280px;
        margin: 16px auto 24px;
    }
    .bem-landing__sidebar_right .bem-page__subtitle {
        font-size: 16px;
        line-height: 24px;
    }
    .bem-landing__sidebar_right .bem-form legend {
        margin-bottom: 16px;
    }
    .bem-landing__sidebar_right .bem-form__label-check-radio {
        margin-top: 18px;
    }
    .bem-landing .bem-auth__rule {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        .bem-link {
            font-size: 12px;
            line-height: 14px;
        }
    }
    .bem-landing__sidebar_right .bem-button {
        margin: 0 auto;
    }
}
@media screen and (max-width: 460px) {
    .bem-landing.bem-auth {
        padding: 0;
    }
    .bem-landing .bem-auth__content {
        width: 100%;
    }
    .bem-landing__sidebar_right .bem-button {
        width: 100%;
    }
    .bem-landing__sidebar_right .bem-auth_header .bem-header__bem-logo img{
        height: 14px;
        margin-top: 5px;
        width: 59px;
    }
    .bem-landing .bem-auth__header .bem-landing__login .bem-page_font-size_mid, .bem-landing .bem-auth__header .bem-landing__reg .bem-page_font-size_mid {
        font-size: 12px;
    }
    .bem-landing .bem-auth__header .bem-landing__login {
        text-align: right;
    }
    .bem-landing__sidebar_right .bem-landing__title {
        margin-top: 20px;
    }
}
@media screen and (min-height: 960px) {
    .bem-landing {
        min-height: 960px;
        max-height: 960px;    
    }
}