- var title = 'РСМ'
- var navItem1 = 'О проекте'
- var navItem2 = 'РСМ'
- var navItem3 = 'EYCA'
- var navItem4 = 'Новости проекта'
- var navItem5 = 'События от партнеров'
- var navItem6 = 'Контакты'
- var buyCard = 'Купить карту'
- var inputBtn = 'Личный кабинет'
- var address = '101990, г. Москва, ул.Маросейка, 3/13<br>+7 (495) 624-01-03'
- var tel = '+7 (495) 624-01-03'
- var email = 'info@mkp-ruy.ru'
- var oooInfo = 'Общероссийская общественная организация<br>«Российский Союз Молодежи»<br>ИНН 7701046727 ОГРН 1027739485620'
- var copyright = '© 2001-2019 Все права защищены'
- var saleRU = 'Скидки<br> в России'
- var saleEU = 'Скидки<br> в Европе'
- var partners = 'Партнерам'
- var eventsTitle = 'Всегда в центре внимания!'
- var eventsSubtitle = 'Участвуй в мероприятиях, конкурсах от наших партнеров!<br>Будь в курсе новостей и акций. '
- var activity = 'Мероприятия'
- var news = 'Новости'
- var competition = 'Конкурсы'
- var stock = 'Акции'
- var actText = 'Газпромбанк и Российский Союз<br> Молодёжи подписали соглашение'
- var newsText = 'Отпуск без визы —<br> это не миф, а реальный факт'
- var comText = 'Конкурс сочинений<br>Моя страна, наш мир в 2030 году'
- var stockText = 'Как работает EYCA в Португалии?'
- var sp = 'Санкт-Петербург'
- var moscow = 'Москва'
- var eventParticBtn = 'Участвовать'
- var eventPostBtn = 'Разместить событие'
- var cardsText = 'Молодёжная дисконтная карта EYCA действует в 38 странах Европы! Получив карту,<br> вы сможете существенно экономить в путешествиях по Европе.Молодёжная <br>дисконтная карта EYCA действует в 38 странах Европы! <br>Получив карту, вы сможете существенно экономить в путешествиях  по Европе.<br>Молодёжная дисконтная карта EYCA действует в 38 странах Европы! Получив карту,<br> вы сможете существенно экономить в путешествиях по Европе.'
- var cardsBtn = 'Получить карту'
- var cardEyca= 'Молодежная<br>карта EYCA'
- var cardGazprom = 'Кампусная карта<br> от Газпромбанка'
- var cardRsmEyca = 'Карта комбрейдинг<br>РСМ + EYCA'
- var partnersList = 'При поддержке:'
- var cities = 'Выбери свой город<br> и узнай'
- var citiesSale = ' все скидки на карте'
- var citiesArr = ['Выберите город', 'Москва', 'Санкт-Петербург', 'Казань', 'Ульяновск']
- var statTitle = 'Всего в России'
- var statColPart = 'Количество партнеров: '
- var statCol = 'Количество участников: '
- var allPartBtn = 'Все партнеры'
- var reviewTitle = 'Отзывы'
- var reviewArr = [{comp:'Ассоциация студентов<br> и студенческих объединений России', name:'Виталий Скоморохов', ageText:'22 года', linkFoto: 'foto.png', desc: 'МКП – это отличная возможность воспользоваться привилегиями молодежи. Уверен, совсем скоро проект покажет достойные результаты, как по развитию внутреннего туризма, так и по социальной поддержке молодежи в целом.'}, {comp:'Ассоциация студентов<br> и студенческих объединений Украины', name:'Александр Иванов', ageText:'20 лет', linkFoto: 'foto.png', desc: 'Текст текст текст текст текст текст текст текст текст'}, {comp:'Ассоциация студентов<br> и студенческих объединений России', name:'Виталий Скоморохов', ageText:'22 года', linkFoto: 'foto.png', desc: 'МКП – это отличная возможность воспользоваться привилегиями молодежи. Уверен, совсем скоро проект покажет достойные результаты, как по развитию внутреннего туризма, так и по социальной поддержке молодежи в целом.'}]
- var slidesArr = [{imgCard: 'card_popova_shadow.png', titleSlide: 'учись<br>работай<br>отдыхай', info: 'Российский Союз Молодежи представляет в России<br> Европейскую ассоциацию молодежных карт EYCA<br><br>Открывай для себя европейские страны<br>с молодежной картой EYCA!'}, {imgCard: 'card_popova_shadow.png', titleSlide: 'Текст<br>работай<br>отдыхай', info: 'Российский Союз Молодежи представляет в России<br> Европейскую ассоциацию молодежных карт EYCA<br><br>Открывай для себя европейские страны<br>с молодежной картой EYCA!'}, {imgCard: 'card_popova_shadow.png', titleSlide: 'Текст<br>Текст<br>отдыхай', info: 'Российский Союз Молодежи представляет в России<br> Европейскую ассоциацию молодежных карт EYCA<br><br>Открывай для себя европейские страны<br>с молодежной картой EYCA!'}]
- var error = 'ошибка'
- var errorTitle = '404'
- var pageNotFound = 'Страница отсутствует'
- var otherPage = 'Выберите другу страницу из меню'