/*
В этом файле должны быть стили для БЭМ-блока .bem-info-block, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

.bem-info-block {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    justify-content: center;
    
    /* bem-info-block: Элементы */
    &__title {
        height: 52px;
        border-bottom: 1px solid #E3E5E8;
        align-items: center;
        box-sizing: border-box;
    }
    &__content {
        max-width: 720px;
        margin: 0 auto;
    }
    &__detail {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        p {
            margin: 0 0 12px;
        }
    }
    &__whitebox {
        border: 1px solid #E6E6E6;
        border-radius: 3px;
        box-shadow: 0 1px 0 #BDBDBD;
        background: #FFF;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    /* bem-info-block: Модификаторы */
    &_about-page {
        grid-gap: 28px;
        grid-template-columns: auto 1fr;   
        padding-bottom: 40px; 
        color: black;
        .bem-sidebar {
            .bem-info-block__title {
                margin: 0;
                padding-bottom: 24px;
            }
        }
        .bem-info-block__title {
            font-size: 20px;
            line-height: 24px;
            padding: 40px 0px 16px;
            height: auto;
            border-bottom: none;
            font-weight: bold;
        }
        .bem-sidebar_left {
            border-right: 1px solid #E3E5E8;
        }
        .bem-info-block_indent_hr {
            padding-left: 8px;
            padding-right: 8px; 
        }
    }
}

// @media-условия
@media screen and (max-width: 768px) {
    .bem-info-block {
        grid-template-columns: auto;
    } 
    .bem-info-block_about-page {
        grid-gap: 0px;
        
        .bem-sidebar_left {
            width: calc(100vw - 48px) !important;
            border: none;
        }   
        .bem-info-block_indent_hr {
            padding-left: 24px;
            padding-right: 24px;
            margin-left: -24px;
            margin-right: -24px;
        }
        .bem-info-block__title {
            padding-left: 0;
            padding-right: 0;
        }
    } 
    .bem-info-block_hidden {
        .bem-info-block__title {
            padding-top: 24px;
            padding-bottom: 16px;
        }
    }
}
