@font-face { font-family: 'SFCompactText'; src: local('SFCompactText'), url('fonts/SF-Compact-Text-Regular.otf');}
@font-face { font-family: 'SFProDisplay'; src: url('fonts/SF-Pro-Display-Regular.ttf') format('truetype');}
@font-face { font-family: 'SFCompactText-Medium'; src: url('fonts/SF-Compact-Text-Medium.otf');}

