/*
В этом файле должны быть стили для БЭМ-блока .bem-content, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

//Блок
.bem-content {
    width: $screen-xl;
    margin: 0 auto;
    padding: 0 32px 24px;
    align-items: center;
    
    //Элементы
    &__persons {
        margin-top: 24px;
        margin-bottom: 123px;
        width: 640px;
        display: flex;
        justify-content: space-between;
    }

    //Миксины
    &__bem-logo {
        margin-top: 272px;
        margin-bottom: 24px;
        align-items: center;
        :nth-child(n) {
            margin-right: 8px;
        }
    }
    &__filter-links {
        margin-top: 16px;
        margin-bottom: 42px;
        a {
            font-size: 16px;
            line-height: 24px;
        }
        a:first-child {
            margin-right: 20px;
        }
    }
    &__persons__bem-link {
        margin-top: 8px;
    }
}

// @media-условия
@media screen and (max-width: 1200px) {
    .bem-content {
        width: 100%;
    }    
}
@media screen and (max-width: 768px) {
    .bem-content {
        padding: 0 24px 24px;
    }   
    .bem-content__persons {
        margin-bottom: 32px;
        margin-top: 16px;
        width: 80%;
    } 
    .bem-content__filter-links {
        display: none;
    }
    .bem-content__bem-logo {
        margin-top: 146px;
        :nth-child(n) {
            margin-right: 4px;
        }
        a img {
            max-height: 24px;
            width: auto;
        }
    }
}
@media screen and (max-width: 640px) {
     .bem-content__persons {
        :nth-child(n+6) {
            display: none;
        }
    } 
}
@media screen and (max-width: 450px) {
    .bem-content__persons {
        width: 100%;
    } 
}
@media screen and (max-width: 320px) {
    .bem-content {
        padding: 0 16px 24px;
    }   
}