/*
В этом файле должны быть стили для БЭМ-блока .bem-posts, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

.bem-posts {
    width: 580px;
    .bem-info-block__title {
        margin-bottom: 15px;
    }
    
    //Элементы
    &__create {
        background: #F7F8FA;
        border-radius: $border-radius;
        padding: 16px 16px 22px;
        h6 {
            margin-bottom: 12px;
        }
    }
    &__form {
        position: relative;
    }
    &__input {
        width: 100%;
        height: 32px;
        border: 1px solid #E3E5E8;
        border-radius: $border-radius;
        padding: 0 9px 0 40px;
        box-sizing: border-box;
        margin-bottom: 14px;
        font-size: $font-size;
    }
    &__icon {
        position: absolute;
        left: 8px;
        top: 4px;
    }
    &__btn {
        position: absolute;
        right: 0;
        bottom: -6px;
        background: rgba( 0, 141, 255, 0.08);
        border-radius: $border-radius;
        border: none;
        padding: 6px 8px;
        color: $link-color;
        font-size: $font-size;
        line-height: $line-height;
        cursor: pointer;
    }
    &__item {
        border: 1px solid #F7F8FA;
        border-radius: $border-radius;
        box-sizing: border-box;
        margin-top: 8px;
    }
    &__radio {
        & + .bem-posts__radio-label {
            color: $link-color;
            margin-right: 8px;
            margin-bottom: 6px;
            cursor: pointer;
        }
        &:checked + .bem-posts__radio-label {
            color: #818C9C;
            cursor: default;
        }
    }
}


// @media-условия
@media screen and (max-width: 900px) {
    .bem-posts {
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    .bem-posts {
        order: 2;
    }
}
@media screen and (max-width: 375px) {
    .bem-posts__radio-label {
        font-size: 12px;
        line-height: 20px;
    }
    .bem-posts__btn {
        font-size: 12px;
        line-height: 20px;
    }
}