/*
В этом файле должны быть стили для БЭМ-блока .bem-disabled, его элементов,
модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
*/

.bem-disabled {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.4);
        z-index: 2;
        height: 100vh;
    }
}